Logger/bin/Debug/*
Logger/bin/Release/*
Logger/obj/*
Netcaa/WebCharts/*
Netcaa/bin/Debug/*
Netcaa/bin/Release/*
Netcaa/obj/*
StatGrabber/bin/Debug/*
StatGrabber/bin/Release/*
StatGrabber/obj/*
StatGrabberTest/bin/Debug/*
StatGrabberTest/bin/Release/*
StatGrabberTest/obj/*
Netcaa/bin/Logger.*
Netcaa/bin/Netcaa.*
Netcaa/bin/StatGrabber.*
Netcaa/bin/Microsoft.*
NetbaTradeAggregator/obj/*
NetbaTradeAggregator/bin/Debug/*
NetbaTradeAggregator/bin/Release/*


Netcaa/bin/Netcaa.dll

Netcaa.suo

Netcaa/bin/Netcaa.pdb
